/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  padding: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  margin-bottom: 30px;
}

h1 {
  color: #131414;
}

main {
  text-align: center;
}

button {
  padding: 20px 40px;
  background-color: #8e44ad;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #702f8a;
}